.example {
  padding: 25px 20px 40px;
  background-color: rgb(234, 234, 234);
}

.example__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  color: rgb(68, 68, 68);
}

.example__result-item {
  list-style-type: none;
}

.example__result-counter {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.example__result-point {
  line-height: 100%;
  color: rgb(68, 68, 68);
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
