@import '../inclusions/variables.less';

.main-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-height: 38px;
  padding: 10px 20px 18px 10px;
}

.main-header__logo {
  width: 191px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .main-header {
    padding: 24px 30px;
    min-height: 100px;
    box-sizing: border-box;
  }

  .main-header__logo {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    position: relative;
    padding: 53px 110px;
    min-height: 165px;
    box-sizing: border-box;
  }

  .main-header::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    min-width: 720px;
    height: 694px;
    background-image: linear-gradient(rgba(@basic_green, 0.85), rgba(@basic_green, 0.85)),
      url('../../images/background/background-desktop.jpg');
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(@basic_green, 0.85), rgba(@basic_green, 0.85)),
      url('../../images/background/background-desktop@2x.jpg');
      background-position: 50% 0;
      background-size: cover;
    }
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }
}
