.program-info {
  padding: 20px 0px 20px 50px;
}

.program-info__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.program-info__item {
  list-style-type: none;
  color: rgb(68, 68, 68);
}
